@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 28px;
  font-family: "Manrope", sans-serif;
}

.background-card {
  background-color: #202733;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-card-content-container {
  display: flex;
  flex-direction: column;
  background-color: #4f5d74;
  width: 80%;
  padding: 1rem;
  border-radius: 5%;
  text-align: center;
}

p {
  letter-spacing: 4px;
  font-size: 0.8rem;
  color: #53ffaa;
}

h2 {
  color: #cee3e9;
  font-size: 1.5rem;
}

hr {
  width: 50%;
  border-top: 0.5px solid #cee3e9;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.button-container {
  align-self: center;

  position: relative;
  bottom: -3rem;
}

.img-container {
  display: flex;
  background-color: #53ffaa;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  bottom: -22rem;
  border-radius: 50%;
  border: none;
}

img {
  width: 60%;
}

.visual-design {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.rectangle-content-container {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.rectangle-container {
  height: 1.3rem;
  width: 0.5rem;
  border: solid;
  background-color: #cee3e9;
  border: none;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .main-card-content-container {
    width: 40%;
  }
}
